<div class="new-reply">
	<h1>New Reply</h1>

	<%= form_tag("/posts/#{@post.id}/reply", method: "post") do %>

	  <div class="field reply-field">
	  <textarea name="reply[body]" placeholder=" Max of 140 characters"></textarea>
	  </div>

	  <div class="actions reply-submit">
	    <%= submit_tag("Submit", class: "btn") %>
	  </div>
	<% end %>
</div>

