<div class="jumbotron fol-style">
  <h2>Search Results</h2>

  <% if @users != nil %>
      <% @users.each do |user| %>
        <div class="follower row">
          <h3><%= link_to user.username, "/users/#{user.id}" %></h3>
        </div>
      <% end %>
  <% elsif @hashtagged != nil  %>
      <% @hashtagged.each do |post| %>
        <div class="follower row">
          <h3><%= link_to post.body, "/posts/#{post.id}" %></h3>
        </div>
      <% end %>
  <% else %>
    "No results."
  <% end %>

</div>