<div class="jumbotron fol-style">
	<h2>Followers</h2>

	<% if @followers.count > 0 %>
	    <% @followers.each do |follower| %>
	    	<div class="follower row">
		       <%= image_tag follower.avatar.url(:thumb) %>
	    		<h3><a href="/users/<%= follower.id %>"> <%= follower.fullname %></a></h3>
	    		<h4><%= follower.username %></h4>
	    	</div>
	    <% end -%>
	<% else %>
	    <p>Sorry you do not have any followers at this time.</p>
	<% end %>
</div>
	