/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background: #f5f8fa;
	margin-bottom: 50px;
	font-family: 'Raleway', sans-serif;
}

.post {
	background: white;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0.5px solid #c6c6c6;
	border-radius: 0 !important;
}

.post:last-child {
	border: 0;
}

a.post-link {
	height: 100%;
	width: 100%;
	display: block;
}

.post > .row > .post-info > h3 {
	font-size: 22px;
}

.post > .row > .post-info >  p {
	font-size: 15px;
}

.reply {
	border-radius: 0 !important;
}

.reply .link {
	font-size: 18px;
}

.reply > h4 {
	font-size: 25px;
}

.reply > p {
	font-size: 20px;
}

.link {
	font-size: 20px;
}

.user-container, .post-container {
	margin-top: 80px;
}

.fol-style {
	margin-top: 75px;
}

.post-show {
	margin-top: 75px;
}

.new-post {
	padding: 0;
	width: 600px;
	margin: 100px auto;
}

.new-post > h1 {
	font-size: 45px;
	text-align: center;
	margin-bottom: 35px;
}

.post-field > textarea {
	width: 300px;	
	height: 75px;
}

.post-field {
	text-align: center;
}

.post-submit {
	text-align: center;
}

.post-submit > input {
	width: 95px;
	margin-top: 10px;
	color: #f9f9f9;
}

.new-reply {
	margin-top: 100px;
	text-align: center;
}

.new-reply > h1 {
	font-size: 45px;
	text-align: center;
	margin-bottom: 35px;
}

.reply-field > textarea {
	width: 300px;
	height: 75px;
}

.reply-submit {
	text-align: center;
}

.reply-submit > input {
	width: 95px;
	margin-top: 10px;
	color: #f9f9f9;
}

// .reply-container > .reply {
// 	margin-bottom: 0;
// 	border-bottom: 0.5px solid #a8a8a8;
// }

.user-auth {
	text-align: center;
	margin-top: 100px;
}

.user-auth > h2 {
	font-size: 40px;
	margin-bottom: 15px;
}

.user-auth > form > .field > input {
	width: 200px;
}

.user-auth > form > .field > input[type="file"] {
	width: 200px;
	margin: 0 auto;
}

.user-auth > form > .field > label {
	font-size: 16px;
	margin-top: 22px;
	margin-bottom: 10px;
}

.auth-submit > input {
	margin-top: 15px;
	width: 75px;
}

.update-btn {
	margin-top: 15px;
}

.delete-acct-btn {
	margin-top: 10px;
}

.navbar {
	background: #db3236;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	height: 64px;
	letter-spacing: 1px;
	font-size: 15px;
	padding-top: 20px;
	font-family: 'Poppins', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
	background: #AC3931;
	color: #d8d8d8;
	text-shadow: 1px 1px #333;
}

.navbar-default .navbar-brand {
	color: white;
	letter-spacing: 1px;
	font-size: 18px;
	padding-top: 20px;
	font-family: 'Poppins', sans-serif;
}

.navbar-default .navbar-brand:hover {
	color: #d8d8d8;
	text-shadow: 1px 1px #333;
}

.navbar-form > p {
	box-sizing: border-box;
	padding-top: 4px;
}

.avatar {
	padding-right: 5px;
	margin-left: 5px;
	float: left
}

.avatar > img {
	margin-top: 32%;
}

.post-info {
	padding-left: 20px;
	float: left;
	width: 83%;
}

@media screen and (max-width: 991px) {
	div.post-container {
		margin-top: 20px;
	}
}

