<div class="jumbotron fol-style">
	<h2>Following</h2>


	<% if @following.count > 0 %>
	    <% @following.each do |f| %>
		    <div class="follower row">
		    	<div class="pull-left image">
		        	<%= image_tag f.avatar.url(:thumb) %>
		      	</div>
		    	<h3><%= link_to f.username, "/users/#{f.id}" %></h3>
		    </div>
	    <% end -%>
	<% else %>
	    <p>Sorry you are not following anyone at this time.</p>
	<% end %>

</div>