<div class="jumbotron fol-style">
	<h2>Following</h2>


	<% if @following.count > 0 %>
	    <% @following.each do |f| %>
		    <div class="follower row">
		    	<div class="avatar">
		        <%= image_tag f.avatar.url(:thumb), class: "img-circle", style: "margin-right: 30px;" %>
		    	</div>
		    	<div class="follow-info">
			    	<h3>
			    	<%= link_to f.fullname, "/users/#{f.id}" %></h3>
			    	<h4><%= f.username %></h4>		    		
		    	</div>
		    </div>
	    <% end -%>
	<% else %>
	    <p>Sorry you are not following anyone at this time.</p>
	<% end %>

</div>